<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="VLAD">
    <title>My Confectionery</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav class="vertical-menu">
        <a href="{% url 'main_page' %}">
            <img src="https://cdn.worldvectorlogo.com/logos/candy.svg" alt="Логотип"
                 class="header-logo">
        </a>
        <ul class="fixed-nav">
            <li><a href="{% url 'product_list' %}">Products</a></li>
            {% if user.is_authenticated and user.is_superuser %}
            <li><a href="{% url 'product_create' %}">Create Product</a></li>
            {% endif %}
            {% if user.is_authenticated and user.is_staff %}
            <li><a href="{% url 'statistics' %}">View Statistics</a></li>
            <li><a href="{% url 'latest_orders' %}">Latest Orders</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            {% if not user.is_superuser %}
            <li><a href="{% url 'my_orders' %}">My Orders</a></li>
            <li><a href="{% url 'cart' %}">My Cart</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}


            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
            <li><a href="{% url 'vocabulary' %}">Vocabulary</a></li>
            <li><a href="{% url 'main_page' %}">Main</a></li>
            <li><a href="{% url 'promo_page' %}">Promo</a></li>
            <li><a href="{% url 'feedback' %}">Feedback</a></li>
            <li><a href="{% url 'vacancies' %}">Vacancies</a></li>
            <li><a href="{% url 'js' %}">JS Examples</a></li>
            <li><a href="{% url 'classes' %}">Classes Examples</a></li>
            <li><a href="{% url 'dates' %}">Dates Examples</a></li>
        </ul>
    </nav>
</header>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <h1>Countdown Timer</h1>
    <p id="countdown"></p>
    <p>&copy; 2023 Наша кондитерская</p>
</footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const startTime = localStorage.getItem("countdownStartTime");

      if (startTime) {
        const currentTime = new Date().getTime();
        const elapsed = currentTime - parseInt(startTime, 10);

        const duration = 60 * 60 * 1000;
        const remaining = duration - elapsed;

        if (remaining > 0) {
          startCountdown(remaining);
        }
      } else {
        startCountdown(60 * 60 * 1000);
      }
    });

    function startCountdown(duration) {
      const countdownElement = document.getElementById("countdown");
      const startTimestamp = new Date().getTime();
      const savedStartTime = localStorage.getItem("countdownStartTime");

      if (!savedStartTime || (startTimestamp - savedStartTime) >= duration) {
        localStorage.setItem("countdownStartTime", startTimestamp.toString());
      }

      const timer = setInterval(function () {
        const currentTime = new Date().getTime();
        const elapsedTime = currentTime - startTimestamp;
        const remainingTime = duration - elapsedTime;

        if (remainingTime <= 0) {
          clearInterval(timer);
          countdownElement.textContent = "Countdown expired!";
        } else {
          const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
          const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

          countdownElement.textContent = `${minutes}m ${seconds}s`;
        }
      }, 1000);
    }
  </script>

</html>
