{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/vocabulary.css' %}">
<section id="faq">
    <article>
        <details>
            <summary>Вопрос 1: Какие вкусные торты вы предлагаете?</summary>
            <p>Мы предлагаем широкий ассортимент тортов, включая шоколадные, фруктовые, и многое другое. Вы можете
                ознакомиться с нашим меню на нашем сайте.</p>
        </details>
    </article>

    <article>
        <details>
            <summary>Вопрос 2: Можно ли заказать торт на свадьбу?</summary>
            <p>Да, мы специализируемся на свадебных тортах. Вы можете связаться с нашей командой и обсудить ваши
                предпочтения и пожелания.</p>
        </details>
    </article>

    <article>
        <details>
            <summary>Вопрос 3: Какие виды пирожных у вас есть?</summary>
            <p>Мы предлагаем разнообразные пирожные, включая эклеры, пломбиры, и многое другое. Вы можете посмотреть
                полный список на нашем сайте.</p>
        </details>
    </article>
</section>
{% endblock %}
