{% extends 'base.html' %}

{% block content %}

<form>
    <label>
      <input type="checkbox" id="styless"> Change styles
    </label>
  </form>
<div id="font-controls"></div>
<div class="custom-section">
         <h1>Product Detail</h1>
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Unit: {{ product.unit }}</p>
    <p>Manufacturer: {{ product.manufacturer }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Availability: {% if product.is_available %}Available{% else %}Not Available{% endif %}</p>

        {% if user.is_authenticated and user.is_staff %}
        <p>Quantity: {{ product.quantity }}</p>
        {% endif %}

        {% if product.is_available and user.is_authenticated and not user.is_superuser %}
        <a href="{% url 'create_order' %}?product_id={{ product.id }}">Order</a>
        {% endif %}

        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'product_edit' product.id %}">Edit</a>
        <a href="{% url 'product_delete' product.id %}">Delete</a>
        {% endif %}
        <h2>Add a Review</h2>
        <form method="post" action="{% url 'product_review' product.id %}">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit">Submit Review</button>
        </form>
    </div>
<style>
    body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.custom-section {
    background-color: #fff;
}

#style-settings {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

</style>
<script>
    const checkbox = document.getElementById("styless");
    checkbox.addEventListener("change", function() {
      const fontControls = document.getElementById("font-controls");

      if (checkbox.checked) {
        const input = document.createElement("input");
        input.type = "number";
        input.placeholder = "Font Size";
        const colorPick = document.createElement("input");
        colorPick.type = "color";
        const colorPickBack = document.createElement("input");
        colorPickBack.type = "color";
        const button = document.createElement("button");
        button.textContent = "Change Font Size";
        button.addEventListener("click", function() {
          const fontSize = input.value + "px";
          document.body.style.fontSize = fontSize;
        });
        const buttonColor = document.createElement("button");
        buttonColor.textContent = "Change Text Color";

        buttonColor.addEventListener("click", function() {
            const selectedColor = colorPick.value;
            document.body.style.color = selectedColor;
        });

        const buttonColorBack = document.createElement("button");
        buttonColorBack.textContent = "Change Back Color";

        buttonColorBack.addEventListener("click", function() {
        const backColor = colorPickBack.value;
            document.body.style.backgroundColor = backColor;
        });
        fontControls.appendChild(input);
        fontControls.appendChild(button);
        fontControls.appendChild(colorPick);
        fontControls.appendChild(buttonColor);
        fontControls.appendChild(buttonColorBack);
      } else {
        while (fontControls.firstChild) {
          document.body.style.fontSize = "18px";
          fontControls.removeChild(fontControls.firstChild);
          document.body.style.color = "black";
          fontControls.removeChild(fontControls.firstChild);
          document.body.style.backgroundColor = "rgb(251, 236, 220)";
          fontControls.removeChild(fontControls.firstChild);
        }
      }
    });
</script>

{% endblock %}
